.left-expense-list {
  flex: 3;
  min-width: 300px;
  background-color: white;
  border-radius: 12px;
  padding: 1.5rem;
  color: black;
}

.expense-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}

.expense-left {
  display: flex;
  flex-direction: column;
}

.expense-title {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* space between icon and text */
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.icon-background {
  background-color: #e5e7eb;
  padding: 6px;
  border-radius: 50%;
  color: #ef4444;
  font-size: 1.25rem;
}


.expense-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
  vertical-align: middle;
}
.expense-date {
  font-size: 0.85rem;
  color: gray;
}

.expense-right {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.expense-price {
  font-weight: bold;
  color: #f59e0b;
}

.expense-actions button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  margin-left: 0.2rem;
  cursor: pointer;
}

.expense-actions button:first-child {
  background-color: #facc15;
  border-radius: 50%;
  padding: 0.4rem;
}

.expense-actions button:last-child {
  background-color: #ef4444;
  border-radius: 50%;
  padding: 0.4rem;
  color: white;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

.pagination button {
  background-color: #e5e7eb;
  border: none;
  border-radius: 9999px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  font-weight: bold;
}

.page-number {
  font-weight: bold;
  background-color: #10b981;
  color: white;
  border-radius: 6px;
  padding: 0.5rem 0.8rem;
}
